{% extends 'base.html.twig' %}

{% block title %}Apply for {{ offer.title }}{% endblock %}

{% block body %}
    <div class="container wrapper">
        <div class="mb-3"><h2>Apply for {{ offer.title }}!</h2></div>
        <div class="mb-4 lightgrey">Added on {{ offer.dateAdded | date('d-m-Y') }}</div>
        <div class="mb-4">
            {{ offer.description }}
        </div>
        <div>
            {{ form_errors(candidateForm) }}

            {{ form_start(candidateForm) }}
            {{ form_row(candidateForm.email) }}
            {{ form_row(candidateForm.name) }}
            {{ form_row(candidateForm.lastname) }}
            {{ form_row(candidateForm.phoneNumber) }}

            <button type="submit" class="btn btn-outline-success mt-3">Apply</button>
            {{ form_end(candidateForm) }}
        </div>
    </div>
{% endblock %}
