{% extends 'base.html.twig' %}

{% block title %}Candidate Recruitment System{% endblock %}

{% block body %}
    <div class="container wrapper">
        <div class="mb-lg-3 mb-1"><h5>Welcome in our</h5>
            <h2>Candidate Recruitment System</h2></div>
        {% set perPage = perPage is defined?perPage:'12' %}
        {{ include('search.html.twig') }}
        {% if pagination.items| length > 0 %}
            <table class="table table-hover mt-3 mb-lg-4 mb-1">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Position</th>
                    <th scope="col">Date Added</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for offer in pagination.items %}
                    <tr>
                        <td></td>
                        <td>
                            {{ offer.title }}
                        </td>
                        <td>
                            {{ offer.dateAdded | date('d-m-Y') }}
                        </td>
                        <td>
                            <a href="{{ path('apply_for_job', {'offerId': offer.id }) }}">
                                <button type="button" class="btn btn-outline-success">Apply</button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="sorryInfo">
                Sorry, no offers matching your search...
            </div>
        {% endif %}
        {% if pagination is not null %}
            <div class="d-flex justify-content-center align-items-center mt-3" {{ stimulus_controller('pagination') }}>
                {{ knp_pagination_render(pagination, 'job_offer/pagination.html.twig') }}
            </div>
        {% endif %}
    </div>
{% endblock %}
